.sass-cache
.Rproj.user
did_est.rds
U.S._State_and*
*.log
*.aux
*.synctex.gz
/.quarto/
*DS_Store
data/
_freeze/
*.RData
asteriod_predict.png
bad_ols_fit.png
feb18.png
sample_sim.png
smooth_beta.png
test_hist.py
esa_risk*
