.sass-cache
.Rproj.user
did_est.rds
U.S._State_and*
*.log
*.aux
*.synctex.gz
/.quarto/
*DS_Store
data/
_freeze/
*.RData
asteriod_predict.png
bad_ols_fit.png
feb18.png
sample_sim.png
smooth_beta.png
test_hist.py
esa_risk*
_site/files/.DS_Store
_site/files/.DS_Store
*.aux
*.log
*.out
_freeze/
**/*.quarto_ipynb
get_predict*
unnamed-chunk*
m1-fit*
m2-fit*
m3-fit*
m4-fit*
m5-fit*
run_the_*
post/ord_beta_tenure/index_files/figure-html/consolidated-1.png
post/ord_beta_tenure/index_files/figure-html/consolidated-college-1.png
post/ord_beta_tenure/index_files/figure-html/outcome-dist1-1.png
post/ord_beta_tenure/index_files/figure-html/outcome-dist2-1.png
fit_nasa_*
fit_current_*
fit_current_*
post/nasa_beta/index_cache/html/avg_sample_size_fb92e5fcf5079f0cf5afa0d071ca9ad9.rdb
post/nasa_beta/index_cache/html/avg_sample_size_fb92e5fcf5079f0cf5afa0d071ca9ad9.rdx
post/nasa_beta/index_cache/html/model_capturing_prob_2052851c8e5938181b5734fc530890d4.rdb
post/nasa_beta/index_cache/html/model_capturing_prob_2052851c8e5938181b5734fc530890d4.rdx
post/nasa_beta/index_cache/html/plot_data_0400c21a355188a4878029e6461a529c.rdb
post/nasa_beta/index_cache/html/plot_data_0400c21a355188a4878029e6461a529c.rdx
post/nasa_beta/index_cache/html/setup_0ffd9aa74156cf36a3ddd7807c92448d.rdb
post/nasa_beta/index_cache/html/setup_0ffd9aa74156cf36a3ddd7807c92448d.rdx
post/nasa_beta/sentry_2024 YR4_2025-04-04.rds
post/nasa_beta/sentry_2024 YR4_2025-04-07.rds
post/fixed_data/index_cache/html/setup_9fc4667e254908c741e3f06180705a69.rdb
post/fixed_data/index_cache/html/setup_9fc4667e254908c741e3f06180705a69.rdx
_site/files/sectsty.pdf
_site/files/img/.DS_Store
files/.DS_Store
files/sectsty.pdf
files/img/.DS_Store
post/.DS_Store
post/ord_beta_tenure/index_cache/html/__packages
post/ord_beta_tenure/index_cache/html/cm1-fit_c95db14321d2af2c18034a3eabba649b.rdb
post/ord_beta_tenure/index_cache/html/cm1-fit_c95db14321d2af2c18034a3eabba649b.rdx
post/ord_beta_tenure/index_cache/html/compute-ames_15d491f3d6620062023d4d725d29d264.rdb
post/ord_beta_tenure/index_cache/html/compute-ames_15d491f3d6620062023d4d725d29d264.rdx
post/ord_beta_tenure/index_cache/html/m6-fit_7183b3b7e2714fc0da788c7830b1590d.rdb
post/ord_beta_tenure/index_cache/html/m6-fit_7183b3b7e2714fc0da788c7830b1590d.rdx
post/ord_beta_tenure/index_cache/html/m7-fit_f8226eebb2b4be4595aae418fb860569.rdb
post/ord_beta_tenure/index_cache/html/m7-fit_f8226eebb2b4be4595aae418fb860569.rdx
post/fixed_data/index_cache/html/__packages
did_web_post
