---
layout: default_intro
---

{% if page.image.feature %}
<div class="page-lead" style="background-image:url({{ site.url }}/images/{{ page.image.feature }})">
	<div class="wrap page-lead-content">
		<h1> For Such a Time as This
		<h3> Politics with humility.
	</div><!-- /.page-lead-content -->
</div><!-- /.page-lead -->
{% endif %}

<div id="page-wrapper">

	<div id="main" role="main">
			{% include breadcrumbs.html %}
			<div class="page-title">
				<h1>{{ page.title }}</h1>
			</div>
			<div class="inner-wrap">
				<div id="content" class="page-content" itemprop="articleBody">
					{{ content }}
					<hr />
					<footer class="page-footer">
						{% if page.categories %}{% include page-author.html %}{% endif %}
						{% if page.share != false %}{% include share-this.html %}{% endif %}
						{% include page-meta.html %}
					</footer><!-- /.footer -->
					<aside>
						{% if page.comments == true %}{% include comments.html %}{% endif %}
					</aside>
				</div><!-- /.content -->
			</div><!-- /.inner-wrap -->
			{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</div><!-- /#main -->

	{% include footer.html %}
</div>
